@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,latin-ext");
.hidden {
  width: 0;
  height: 0;
  overflow: hidden; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  /* non-prefixed version, currently not supported by any browser */ }

body {
  margin: 0;
  padding: 0; }

#header_container {
  width: 100%;
  height: 780px;
  background-image: url("pictures/principal_pic.png");
  background-repeat: no-repeat;
  background-size: cover; }
  #header_container #navbar_container {
    height: 130px;
    width: 100%;
    background-color: rgba(81, 95, 103, 0.8);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    #header_container #navbar_container #header_center_container {
      width: 1170px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between; }
      #header_container #navbar_container #header_center_container #header_logo {
        background-image: url(pictures/logo.png);
        width: 127px;
        height: 23px;
        margin-top: auto;
        margin-bottom: auto;
        cursor: pointer; }
      #header_container #navbar_container #header_center_container #header_menu {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start; }
        #header_container #navbar_container #header_center_container #header_menu .menu-item {
          color: white;
          margin-left: 10px;
          padding: 12px 20px;
          cursor: pointer;
          font-family: "Open Sans", sans-serif;
          font-weight: 800;
          font-size: 14px; }
          #header_container #navbar_container #header_center_container #header_menu .menu-item:hover {
            color: #4bcaff;
            border: 2px solid #4bcaff;
            padding: 10px 18px; }
          #header_container #navbar_container #header_center_container #header_menu .menu-item.active {
            color: #4bcaff;
            border: 2px solid #4bcaff;
            padding: 10px 18px; }
          #header_container #navbar_container #header_center_container #header_menu .menu-item:first-child {
            margin-left: 0; }
  #header_container #text_container {
    width: 100%;
    height: calc(100% - 130px);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    #header_container #text_container .title-home {
      padding: 17px 15px;
      background-color: rgba(81, 95, 103, 0.8);
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 42px;
      color: white; }
      #header_container #text_container .title-home:last-child {
        margin-top: 13px; }

#services_container {
  width: 100%;
  height: 400px;
  background-color: #4bcaff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #services_container #services_center_container {
    width: 1170px; }
    #services_container #services_center_container #services_title {
      width: 100%;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      color: white;
      font-size: 30px; }
    #services_container #services_center_container #services_list {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #services_container #services_center_container #services_list .services_items {
        width: 260px;
        margin-top: 20px;
        padding-right: 20px;
        color: white;
        cursor: pointer; }
        #services_container #services_center_container #services_list .services_items:last-child {
          padding-right: 0 !important; }
        #services_container #services_center_container #services_list .services_items #services_logo_1 {
          width: 48px;
          height: 48px;
          background-image: url("pictures/cofee.png");
          background-repeat: no-repeat; }
        #services_container #services_center_container #services_list .services_items #services_logo_2 {
          width: 48px;
          height: 48px;
          background-image: url("pictures/pic2.png");
          background-repeat: no-repeat; }
        #services_container #services_center_container #services_list .services_items #services_logo_3 {
          width: 48px;
          height: 48px;
          background-image: url("pictures/pic3.png");
          background-repeat: no-repeat; }
        #services_container #services_center_container #services_list .services_items #services_logo_4 {
          width: 48px;
          height: 48px;
          background-image: url("pictures/pic4.png");
          background-repeat: no-repeat; }
        #services_container #services_center_container #services_list .services_items .services_subtitle {
          padding-top: 20px;
          font-family: "Open Sans", sans-serif;
          font-weight: 800;
          font-size: 24px; }
        #services_container #services_center_container #services_list .services_items .services_text {
          padding-top: 11px;
          font-family: "Open Sans", sans-serif;
          font-weight: 300;
          font-size: 12px; }

#portofolio_container {
  background-color: white;
  width: 100%;
  height: 850px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #portofolio_container #portofolio_container_center {
    width: 1170px; }
    #portofolio_container #portofolio_container_center #portofolio_menu {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      #portofolio_container #portofolio_container_center #portofolio_menu #porofolio_second_menu {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start; }
        #portofolio_container #portofolio_container_center #portofolio_menu #porofolio_second_menu .portofolio-menu-item {
          color: #69747b;
          font-family: "Open Sans", sans-serif;
          font-weight: 800;
          font-size: 14px;
          margin-right: 35px;
          padding: 12px 20px;
          cursor: pointer; }
          #portofolio_container #portofolio_container_center #portofolio_menu #porofolio_second_menu .portofolio-menu-item:last-child {
            margin-right: 0; }
          #portofolio_container #portofolio_container_center #portofolio_menu #porofolio_second_menu .portofolio-menu-item:hover {
            color: #4bcaff;
            border: 2px solid #4bcaff;
            padding: 10px 18px; }
      #portofolio_container #portofolio_container_center #portofolio_menu #portofolio_name {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: #515f67; }
    #portofolio_container #portofolio_container_center #portofolio_content {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        -ms-justify-content: space-between;
        justify-content: space-between;
        width: 100%;
        margin-top: 30px; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content:first-child {
          margin-top: 80px; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_1:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_2:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_3:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_4:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_5:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_6:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_7:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_8:hover .portofolio-hover {
          opacity: 1; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_1 {
          width: 270px;
          height: 270px;
          position: relative;
          background-image: url("pictures/view1.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content .portofolio-hover {
          width: 270px;
          height: 270px;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(50, 49, 45, 0.5);
          opacity: 0;
          transition: opacity 0.3s linear; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_2 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view2.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_3 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view3.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_4 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view4.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_5 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view1.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_6 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view2.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_7 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view3.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }
        #portofolio_container #portofolio_container_center #portofolio_content .portofolio-pictures-content #portofolio_picture_8 {
          width: 270px;
          height: 270px;
          background-image: url("pictures/view4.png");
          background-repeat: no-repeat;
          background-size: cover;
          cursor: pointer;
          position: relative; }

#default_section {
  width: 100%;
  height: 475px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #515f67; }
  #default_section #default_section_center {
    width: 1170px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    #default_section #default_section_center #default_section_content {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      margin-right: 120px; }
      #default_section #default_section_center #default_section_content #default_section_title {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: white; }
      #default_section #default_section_center #default_section_content .default-section-text {
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: white;
        margin-top: 32px; }
        #default_section #default_section_center #default_section_content .default-section-text.first-section-text {
          margin-top: 45px !important; }
      #default_section #default_section_center #default_section_content #default_section_button {
        width: 140px;
        height: 43px;
        background-color: #515f67;
        color: #353f46;
        text-decoration: none;
        border: 3px solid #353f46;
        font-family: "Open Sans", sans-serif;
        font-weight: 800;
        margin-top: 42px;
        cursor: pointer; }
        #default_section #default_section_center #default_section_content #default_section_button:hover {
          color: white;
          border: 3px solid white; }
    #default_section #default_section_center #default_section_video {
      width: 100%; }
      #default_section #default_section_center #default_section_video #background_video {
        background-image: url("pictures/video.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 565px;
        height: 313px;
        cursor: pointer; }

#twitter_section {
  width: 100%;
  height: 305px;
  background-color: #4bcaff;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #twitter_section #twitter_content_center {
    width: 1170px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    #twitter_section #twitter_content_center #twitter_content {
      width: 1064px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #twitter_section #twitter_content_center #twitter_content #twitter_content_tile {
        color: white;
        font-size: 30px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300; }
      #twitter_section #twitter_content_center #twitter_content #twitter_content_text {
        color: white;
        font-size: 28px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        margin-top: 45px; }
    #twitter_section #twitter_content_center #twitter_content_icon {
      width: 28px;
      height: 22px;
      background-image: url("pictures/icon_tw.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center; }

#whois_content {
  background-image: url("pictures/background_whois.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 505px; }
  #whois_content #whois_content_center {
    width: 1170px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    #whois_content #whois_content_center .whois-content-text {
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      margin-top: 45px;
      color: #d7d8d9; }
      #whois_content #whois_content_center .whois-content-text:last-child {
        margin-top: 30px; }
    #whois_content #whois_content_center #whois_content_left {
      margin-right: 33px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #whois_content #whois_content_center #whois_content_left #twitter_content_left_title {
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 30px;
        color: #d7d8d9; }
    #whois_content #whois_content_center #whois_content_right {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #whois_content #whois_content_center #whois_content_right .whois_left_text {
        margin-top: 85px !important; }
      #whois_content #whois_content_center #whois_content_right #whois_content_right_logo {
        margin-top: 40px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        -webkit-flex-flow: row nowrap;
        -moz-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start; }
        #whois_content #whois_content_center #whois_content_right #whois_content_right_logo #whois_icons_1 {
          width: 64px;
          height: 64px;
          background-image: url("pictures/tw_icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin-right: 25px;
          cursor: pointer; }
        #whois_content #whois_content_center #whois_content_right #whois_content_right_logo #whois_icons_2 {
          width: 64px;
          height: 64px;
          background-image: url("pictures/g_icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin-right: 25px;
          cursor: pointer; }
        #whois_content #whois_content_center #whois_content_right #whois_content_right_logo #whois_icons_3 {
          width: 64px;
          height: 64px;
          background-image: url("pictures/d_icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          margin-right: 25px;
          cursor: pointer; }
        #whois_content #whois_content_center #whois_content_right #whois_content_right_logo #whois_icons_4 {
          width: 64px;
          height: 64px;
          background-image: url("pictures/c_icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
          cursor: pointer; }

#testimonials_content {
  width: 100%;
  height: 300px;
  background-color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #testimonials_content #testimonial_center {
    width: 1170px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    #testimonials_content #testimonial_center #testimonial_left_content {
      margin-right: 60px;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #testimonials_content #testimonial_center #testimonial_left_content #testimonial_title {
        color: #515f67;
        font-size: 30px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300; }
      #testimonials_content #testimonial_center #testimonial_left_content #testimonial_text {
        color: #515f67;
        font-size: 28px;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        margin-top: 43px; }
      #testimonials_content #testimonial_center #testimonial_left_content #testimonial_author {
        color: #4bcaff;
        font-size: 11px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        margin-top: 39px; }
    #testimonials_content #testimonial_center #testimonial_right_icon {
      font-size: 40px; }

#contact_content {
  width: 100%;
  height: 810px;
  background-image: url("pictures/b_contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #contact_content #contact_content_center {
    width: 1170px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start; }
    #contact_content #contact_content_center .input-name {
      font-size: 14px;
      color: #ffffff;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      margin-top: 5px; }
    #contact_content #contact_content_center #contact_top {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between; }
      #contact_content #contact_content_center #contact_top #contact_left_top {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start; }
        #contact_content #contact_content_center #contact_top #contact_left_top .contact-input {
          width: 480px;
          height: 60px;
          background-color: transparent;
          border: 2px solid #ffffff;
          margin-top: 5px;
          padding-left: 10px;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          font-size: 15px;
          color: white; }
          #contact_content #contact_content_center #contact_top #contact_left_top .contact-input:active {
            border: 2px solid #ffffff; }
        #contact_content #contact_content_center #contact_top #contact_left_top #contact_title {
          font-size: 28px;
          color: #ffffff;
          font-family: "Open Sans", sans-serif;
          font-weight: 300; }
        #contact_content #contact_content_center #contact_top #contact_left_top #input_name {
          margin-top: 44px; }
        #contact_content #contact_content_center #contact_top #contact_left_top #input_email {
          margin-top: 35px; }
      #contact_content #contact_content_center #contact_top #contact_right_top {
        margin-left: 125px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: -moz-box !important;
        display: flex !important;
        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
        -webkit-justify-content: flex-start;
        -moz-justify-content: flex-start;
        -ms-justify-content: flex-start;
        justify-content: flex-start; }
        #contact_content #contact_content_center #contact_top #contact_right_top #contact_right_text {
          font-size: 14px;
          color: #ffffff;
          font-family: "Open Sans", sans-serif;
          font-weight: 500;
          margin-bottom: 41px;
          margin-top: 95px; }
        #contact_content #contact_content_center #contact_top #contact_right_top .contact_right_adress {
          color: #ffffff;
          font-size: 14px;
          font-family: "Open Sans", sans-serif;
          font-weight: 500; }
    #contact_content #contact_content_center #contact_bottom {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start; }
      #contact_content #contact_content_center #contact_bottom #input_message {
        margin-top: 40px; }
      #contact_content #contact_content_center #contact_bottom textarea {
        background-color: transparent;
        border: 2px solid #ffffff;
        width: 1170px;
        height: 220px;
        resize: none;
        margin-top: 5px;
        padding: 10px;
        font-family: "Open Sans", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: white; }
  #contact_content button {
    width: 374px;
    height: 63px;
    border: 2px solid #4bcaff;
    background-color: #4bcaff;
    color: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    margin-top: 40px;
    font-size: 14px;
    cursor: pointer;
    opacity: 1; }
    #contact_content button:hover {
      opacity: 0.8; }

#footer_content {
  width: 100%;
  height: 170px;
  background-color: #353f47;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: flex !important;
  -webkit-flex-flow: column nowrap;
  -moz-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  #footer_content #footer_center {
    width: 1170px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: -moz-box !important;
    display: flex !important;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between; }
    #footer_content #footer_center #footer_category {
      color: #4c5961;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: -webkit-flex !important;
      display: -moz-box !important;
      display: flex !important;
      -webkit-flex-flow: row nowrap;
      -moz-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 800; }
      #footer_content #footer_center #footer_category .category {
        cursor: pointer; }
    #footer_content #footer_center #footer_year {
      color: #4c5961;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: 800; }

/*# sourceMappingURL=master.css.map */
